@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    border: 2px solid powderblue;
    display: flex;
    width: 457px;
    height: 138px;
    margin: 4px;
    font-family: 'Roboto';
}

#main-photo {
    width: 130px;
    height: 130px;
    /*border: 2px solid red;*/
    margin: auto;
}

.message {
    display: inline-block;
    font-size: 20px;
    margin-top: 0;
    margin-left: 14px;
    margin-bottom: 0px;
}

.message-photo {
    margin-right: 14px;
    width: 20px;
    height: 20px;
}

.retweet {
    margin-left: 38px;
    margin-right: 14px;
    width: 20px;
    height: 20px;
}

.like {
    margin-left: 38px;
    margin-right: 14px;
    width: 20px;
    height: 20px;
}

.number1 {
    display: flex;
    color: #858991;
    object-fit: cover;
    margin-left: 14px;
    margin-top: 0;
}

.username {
    margin-bottom: 14px;
    color: #000000;
    font-size: 20px;
}

.para {
    margin-bottom: 24px;
    margin-top: 14px;
    color: #000000;
    font-size: 20px;
    font-style: normal;
}

.para1 {
    display: flex;
}

.post {
    display: flex;
    margin: 4px;
    
}

.t1 {
    margin-top: 0;
    font-size: 15px;
    font-size: medium;
}
